In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

Load our SIE data

In [7]:
model_name = 'ecmwfsipn'
model_type = 'reforecast'
no_day_change = 5
filepath = '/home/disk/sipn/mcmcgraw/data/VRILE/'
filename = filepath+'{model_name}_{model_type}_SIE_d_SIE_{d_days}day_change_lead_time_ALL_REGIONS_ALL_ENS.csv'.format(model_name=model_name,
                       model_type=model_type,d_days=no_day_change)
SIE_data = pd.read_csv(filename)
SIE_data = SIE_data.dropna()
SIE_data.head()

,Unnamed: 0,I (init date),V (valid date),SIE,lead time (days),d_SIE (V - I),ensemble,region
0,0,1993-01-01,1993-01-03,13.261036,2.0,0.046306,1.0,panArctic
1,1,1993-01-01,1993-01-04,13.268475,3.0,-0.003511,1.0,panArctic
2,2,1993-01-01,1993-01-05,13.230590,4.0,-0.003011,1.0,panArctic
3,3,1993-01-01,1993-01-06,13.224993,5.0,0.020101,1.0,panArctic
4,4,1993-01-01,1993-01-07,13.258025,6.0,0.077908,1.0,panArctic

In [6]:
SIE_data.drop(columns=['Unnamed: 0'],inplace=True)
SIE_data.head()

,I (init date),V (valid date),SIE,lead time (days),d_SIE (V - I),ensemble,region
0,1993-01-01,1993-01-03,13.261036,2.0,0.046306,1.0,panArctic
1,1993-01-01,1993-01-04,13.268475,3.0,-0.003511,1.0,panArctic
2,1993-01-01,1993-01-05,13.230590,4.0,-0.003011,1.0,panArctic
3,1993-01-01,1993-01-06,13.224993,5.0,0.020101,1.0,panArctic
4,1993-01-01,1993-01-07,13.258025,6.0,0.077908,1.0,panArctic